brotlipy==0.7.0
certifi==2020.6.20
cffi @ file:///tmp/build/80754af9/cffi_1596809855670/work
click==7.1.2
dash==1.4.1
dash-core-components==1.3.1
dash-html-components==1.0.1
dash-renderer==1.1.2
dash-table==4.4.1
Flask==1.1.2
Flask-Compress==1.5.0
future==0.18.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe @ file:///tmp/build/80754af9/markupsafe_1594371495811/work
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1596233707986/work
pandas @ file:///tmp/build/80754af9/pandas_1596825853503/work
plotly @ file:///tmp/build/80754af9/plotly_1593522991827/work
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
retrying==1.3.3
six==1.15.0
Werkzeug==1.0.1
